* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;         /* Altura completa */
    background-image: url(../Img/logo.png);
    background-size: 50%; /* Cubre toda la pantalla */
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F4F4F4; 
    color: #1A1A1A;        
    z-index: 9999;         
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Separa los elementos extremos */
    padding: 30px 40px;    /* Margen interno alrededor de la pantalla */
    
    /* Tipografía base para los textos pequeños */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* --- Estilos para la parte Superior e Inferior --- */
.loading-top, .loading-bottom {
    display: flex;
    justify-content: space-between; /* Un elemento a cada lado */
    font-size: 0.75rem;    /* Tamaño pequeño */
    font-weight: 600;      /* Un poco de negrita */
    width: 100%;
}

/* Ajuste específico para centrar el texto del medio en la parte superior */
.loading-top .center-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* --- Estilos para el Centro Gigante --- */
.loading-center {
    flex-grow: 1; /* Ocupa todo el espacio vertical disponible */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
}

/* Estado INICIAL (Invisible y desplazado hacia abajo) */
.loading-center h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12vw;
    font-weight: 400;
    margin: 0;
    letter-spacing: 2px;
}


.loading-center h1.visible {
    opacity: 1;
    transform: translateY(0);       /* Sube a su posición original */
}





/*

REVISAR


*/
/* Añade esto para el efecto final de la pantalla */
#loading-screen {
    /* Aseguramos que tenga transición de opacidad */
    transition: opacity 0.8s ease-out; 
    opacity: 1;
}

/* Clase para ocultar toda la pantalla de carga */
.pantalla-off {
    
    transition: opacity 0.8s ease-out;
    pointer-events: none; /* Evita clicks mientras se va */
}